%header 
  %h1 
    %a{:href => "#"} 
      %span.white> TEXT
      %span.green> ACADEMY

.wrapper
  .container.first
    
    %section 
      %p 
        %b 
          Text
          %span.green> Academy 
        is a thing that we hope can help people in the developing world.