%header 
  %h1 
    %a#home{:href => "#"} 
      %span.white> TEXT
      %span.green> ACADEMY

  / %nav 
  /   %ul 
  /     %a{:href => "#"} 
  /       %li
  /         The Problem
  /     %a{:href => "#"} 
  /       %li 
  /         What We're Doing 
  /     %a{:href => "#"} 
  /       %li 
  /         Who We Are

.wrapper
  .container.first
    / %aside 
    
    %section.description 
      %p.home 
        %b.white 
          TEXT
          %span.green> ACADEMY
        is an interactive SMS-based learning platform for students in the developing world.

      %a.info#problem{:href => "#"} 
        THE PROBLEM

      %p.problem
        Students in the developing world often don't have access to textbooks, but over 90% of the population owns a mobile phone.

      %a.info#doing{:href => "#"} 
        WHAT WE'RE DOING

      %p.doing
        We have created an SMS-based platform for children to learn. Currently it works for here.

      %a.info#who{:href => "#"} 
        WHO WE ARE

      %p.who We are students.

      %a.info#try{:href => "#"} 
        TRY IT NOW

      %p.try
        To start learning through 
        %b.white 
          TEXT
          %span.green> ACADEMY
        simply text "
        %span.green> Start learning
        " to 1-630-657-0319.

      %a.info#contribute{:href => "#"} 
        CONTRIBUTE CONTENT

      %p.contribute 
        Add content for 
        %b.white 
          TEXT
          %span.green> ACADEMY
        students to learn!
        %a#sign-up{:href => "#"} 
          Sign up 
        or 
        %a#sign-in{:href => "#"} 
          sign in 
        now →

    
    
    .links
      %a.link.demo-link{:href => "#"} 
        SEE THE DEMO →

      %a.link.description-link{:href => "#"} 
        BACK TO DESCRIPTION →

    %section.video
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/4nmDKlh3blI", :width => "520"}

    %section.sign-up
      = render 'shared/new_contributors_form'
      %a.back{:href => "#"} 
        Back →


    %section.sign-in
      = render 'shared/sign_in_form'
      %a.back{:href => "#"} 
        Back →





:javascript
  $("#home").on("click", function() {
    $("section p").hide();
    $(".home").fadeToggle();
  });

  $(".info").on("click", function(e) {
    e.preventDefault;
    $("section p").hide();
    $(this).next("p").fadeToggle();
  });

  $(".demo-link").on("click", function(e) {
    e.preventDefault;
    $( ".video" ).animate({ "right": "+=710px" }, "slow" );
    $(".description-link").toggle().css("display", "block");
    $(this).toggle();
  });
  
  $(".description-link").on("click", function(e) {
    e.preventDefault;
    $( ".video" ).animate({ "right": "-=710px" }, "slow" );
    $(".demo-link").toggle();
    $(this).toggle();
  });

  $("#sign-up").on("click", function() {
    $(".sign-up").animate({ "right": "+=710px" }, "slow" );
  });

  $("#sign-in").on("click", function() {
    $(".sign-in").animate({ "right": "+=710px" }, "slow" );
  });

  $(".back").on("click", function() {
    $(this).closest("section").animate({ "right": "-=710px" }, "slow" );
  });

