%header 
  %h1 
    %a{:href => "#"} 
      %span.white> TEXT
      %span.green> ACADEMY

  / %nav 
  /   %ul 
  /     %a{:href => "#"} 
  /       %li
  /         The Problem
  /     %a{:href => "#"} 
  /       %li 
  /         What We're Doing 
  /     %a{:href => "#"} 
  /       %li 
  /         Who We Are

.wrapper
  .container.first
    
    %section 
      %p.home 
        %b 
          Text
          %span.green> Academy 
        is a thing that we hope can help people in the developing world.

      %a.info.first{:href => "#"} 
        The Problem

      %p.problem
        We are solving the problem of children in the developing world not having textbooks.

      %a.info{:href => "#"} 
        What We're Doing

      %p.doing
        We have created an SMS-based platform for children to learn. Currently it works for here.

      %a.info{:href => "#"} 
        Who We Are

      %p.who We are students.




:javascript
  $(".info").on("click", function(e) {
    e.preventDefault;
    $(this).prev("p").hide();
    $(this).hide();
    $(this).nextAll("a").first().fadeToggle();
    $(this).next("p").fadeToggle();
  });
    
