.container.lessons
  .content
    %h1=@lesson.name
    %p=@lesson.instruction

    -@lesson.exercises.each do |exercise|
      %p.question
        %b.label 
          Question:
        = exercise.question.text
      %p.answer
        %b.label 
          Answer:
        = exercise.answer.text
    %b 
      =link_to "Add an exercise →", new_exercise_path(lesson_id: @lesson.id)