a
  text-decoration: none
  color: green

body
  font-family: Helvetica, sans-serif
  font-size: 100%
  position: absolute
  width: 100%
  height: 100%

header
  position: absolute
  width: 100%
  background: rgba(0,0,0,0.8)
  z-index: 10
  box-shadow: 0 0 10px #fff
  h1
    font-size: 40px
    line-height: 60px
    margin: 0
    padding: 0
    display: inline-block
  nav
    float: right
    ul
      list-style: none
      margin: 0
      padding: 0
    li
      display: inline-block
      color: #fff
      line-height: 60px
      color: green
      margin: 0 20px

.container
  height: 100%
  width: 100%
  &.first
    background: url('child_phone.png') 
    background-size: cover
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

.green
  color: green

p
  font-size: 1.5em
  padding: 50px
  font-weight: 200

.problem, .doing, .who
  display: none


.info
  float: right
  margin: 1em
  display: none
  &.first
    display: block

section
  float: right
  width: 500px
  margin: 200px 100px
  background: rgba(0,0,0,0.8)
  color: #fff
  box-shadow: 0 0 10px #fff

.white
  color: #fff

.wrapper
  position: relative
  top: 0px
  width: 100%
  min-height: 100%